<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label :interval %>
    <%= form.text_area :interval, required: true %>
  </div>
      
  <div class="field">
    <%= form.label :starttime %>
    <%= form.text_area :starttime, required: true %>
  </div>
  
  <div class="field">
    <%= form.label :fintime %>
    <%= form.text_area :fintime, required: true %>
  </div>
  
  <div class="field">
    <%= form.label :startday %>
    <%= form.text_area :startday, required: true %>
  </div>
  
  <div class="field">
    <%= form.label :days %>
    <%= form.text_area :days, required: true %>
  </div>
  <!--<div class="field">-->
  <!--  <%#= calendar number_of_days: 7 do |date| %>-->
  <!--    <%#= link_to date, '/posts/new' %>-->
  <!--  <%# end %>-->
  <!--</div>-->
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
